{% extends "Layouts/front.html" %} {% block title %} E-Shop chào mừng bạn {% endblock %} {% block content %} {% include 'layouts/inc/front-slider.html' %}
<!-- top Products -->
<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>S</span>ản
            <span>P</span>hẩm
            <span>M</span>ới
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-12">
                <div class="wrapper">
                    <!-- first section -->
                    {% for category in product_category %}
                    <div class="">
                        <div class="row">
                            <div class="owl-carousel featured-theme owl-theme">
                                {% for item in category %}
                                <div class="item">
                                    <div class="product-men mt-5">
                                        <div class="men-pro-item simpleCart_shelfItem">
                                            <div class="men-thumb-item text-center">
                                                <div style="height: 250px; vertical-align: middle; display: table-cell;">
                                                    <div>

                                                        <img class="" src="/images/{{ item.thumbnail }}" alt="image1">
                                                    </div>
                                                    <div class="men-cart-pro">
                                                        <div class="inner-men-cart-pro">
                                                            <a href="/product/{{ item.id }}" class="link-product-add-cart">Xem</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-info-product text-center border-top mt-4">
                                                <h4 class="pt-1">
                                                    <a href="/single">{{ item.name }}</a>
                                                </h4>
                                                <div class="info-product-price my-2">
                                                    <span class="item_price">{{ item.sale_price }}
                                                                    đ</span>
                                                    <del></del>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- //first section -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //top products -->
{% endblock %} {% block scripts %}
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 30,
        nav: true,
        dots: false,
        nav: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>
{% endblock %}