.cate-image {
    max-width: 100px;
    max-height: 100px;
    /* margin: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-image {
    max-width: 100px;
    max-height: 100px;
    /* margin: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.order-details label {
    font-size: 14px;
    font-weight: 700;
}

.order-details div {
    font-size: 14px;
    padding: 7px !important;
}