{% extends "Layouts/admin.html"%} {% block content %}
<div class="card">
    <div class="card-header">
        <h4>Đăng ký</h4>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name + item.lastname }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone }}</td>
                    <td>
                        <a href="/admin/view-user/{{ item.id }}" class="btn btn-primary btn-sm">Xem</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>
{% endblock %}