{% extends "Layouts/admin.html"%} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Chi tiết người sử dụng
                        <a href="/admin/user" class="btn btn-primary float-end">Quay lại</a>
                    </h4>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control" name="name" disabled value="{{user.name}}">
                            </div>
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="text" class="form-control" name="email" disabled value="{{user.email}}">
                            </div>
                            <div class="form-group">
                                <label for="">Phone</label>
                                <input type="text" class="form-control" name="phone" disabled value="{{user.phone}}">
                            </div>
                            <div class="form-group">
                                <label for="">Address</label>
                                <input type="text" class="form-control" name="address" disabled value="{{user.address}}">
                            </div>
                            <div class="form-group">
                                <label for="">Level</label>
                                <input type="text" class="form-control" name="level" disabled value="{{level}}">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea name="" id="" rows="5" style="width: 100%;">{{user.description}}</textarea>
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="form-group image">
                                <label>Image</label>
                                <img id="avatar" class="thumbnail" width="auto" height="120px" src="/images/{{user.thumbnail}}">
                                <!-- <input id="img" type="file" name="thumbnail" class="form-control src_img"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}