{% extends "Layouts/admin.html" %} {% block content %}
<div class="container-fluid p-0">
    <div class="card-header">
        <h1 class="h3 mb-3"><strong>Edit/Update Category</strong></h1>
    </div>

    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="" value="{{ category.name }}">
                        {% if errors %}
                            <div class="alert alert-danger message-validation" role="alert">
                                <strong>{{ errors['name'] }}</strong>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="">Slug</label>
                        <input type="text" class="form-control" name="slug" placeholder="" value="{{ category.slug }}">
                        {% if errors %}
                            <div class="alert alert-danger message-validation" role="alert">
                                <strong>{{ errors['slug'] }}</strong>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="">Describe</label>
                        <textarea class="form-control" row="3" name="description" placeholder="">{{ category.description }}</textarea>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group image">
                        <label for="">Image</label>
                        <img id="avatar" class="thumbnail" width="auto" height="120px" src="/images/{{ category.thumbnail }}">
                        <input id="img" type="file" name="thumbnail" class="form-control src_img">
                        {% if errors %}
                            <div class="alert alert-danger message-validation" role="alert">
                                <strong>{{ errors['image'] }}</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary" name="submit">Save</button>
                    <button class="btn btn-primary" onclick="history.back(-1)">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>{% endblock %}